<p>Select difficulty level of computer player.</p>
<form action="/difficulty" method="POST">
  <% if (session[:player_one_type] == COMPUTER_PLAYER) %>
    <%= show_difficulty_form(1) %>
  <% end %>

  <% if (session[:player_two_type] == COMPUTER_PLAYER) %>
    <%= show_difficulty_form(2) %>
  <% end %>
  <input type="submit" value="Start game!" class="btn">
</form>