<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/application.css">
  <title>Tic-Tac-Toe</title>
</head>
<body>
  <div class="navigation"><h1>Let's play tic-tac-toe!</h1></div>
  <div class="container">
    <%= yield %>
  </div>
  <footer></footer>
</body>
</html>