<h1>Play.....</h1>
<p>Player one: <%= @player_one.player_type %> (<%= @player_one.marker %>)</p>
<p>Player two: <%= @player_two.player_type %> (<%= @player_two.marker %>)</p>
<div id="board">
  <div class="row1">
    <button id="1A"></button>
    <button id="2A"></button>
    <button id="3A"></button>
  </div>
  <div class="row2">
    <button id="1B"></button>
    <button id="2B"></button>
    <button id="3B"></button>
  </div>
  <div class="row3">
    <button id="1C"></button>
    <button id="2C"></button>
    <button id="3C"></button>
  </div>
</div>