.container {
  margin-left: 20px;
}

#board button {
  margin: .25em;
  width: 5em;
  height: 5em;
  font-size: 2em;
}

.row1 {
  margin-top: 0;
}

.row2, .row3 {
  margin-top: .25em;
}

.cell {
  opacity: 0;
}