<h1>Difficulty level?</h1>
<p>Select difficulty level of computer player.</p>
<form action="/difficulty" method="POST">
  <fieldset>
    <legend>Difficulty level:</legend>
    <input type="radio" name="difficulty" value="easy" id="easy-level"><label for="easy-level" required>Easy</label>
    <input type="radio" name="difficulty" value="hard" id="hard-level"><label for="hard-level" required>Hard</label>
  </fieldset>
  <input type="submit" value="Start game!">
</form>